<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link rel="stylesheet" href={{maincss}}>
     <link rel="stylesheet" href={{css1}}>
     <link rel="stylesheet" href={{partialcss}}>
      
    <script src="https://kit.fontawesome.com/78bb10c051.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="{{ mainscript }}"></script>
    <script defer src="{{ js1 }}"></script>

  </head>
    <body>
      <div class="main-wrap">
        <div class="cent-box">

          {{#if showTop}}
          {{!-- TOP SECTION --}}
          <section id="top-sec">

            {{!-- App Name --}}
            <div id="header-wrapper">

              <div id="active-header-wrapper">
                <div id="title-bar">BagBuddy</div>
                <div class="right-header">
                  <div id="search-bar-icon" class="header-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M792-120.667 532.667-380q-30 25.333-69.64 39.666Q423.388-326 378.667-326q-108.441 0-183.554-75.167Q120-476.333 120-583.333T195.167-765.5q75.166-75.167 182.5-75.167 107.333 0 182.166 75.167 74.834 75.167 74.834 182.267 0 43.233-14 82.9-14 39.666-40.667 73l260 258.667-48 47.999ZM378-392.666q79.167 0 134.583-55.834Q568-504.333 568-583.333q0-79.001-55.417-134.834Q457.167-774 378-774q-79.722 0-135.528 55.833t-55.806 134.834q0 79 55.806 134.833Q298.278-392.666 378-392.666Z"/></svg></div>
                  <a href="/notification"><div id="notification-icon" class="header-icon" ><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160ZM480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80Z"/></svg></div></a>
                </div>
              </div>

              {{!-- Search Bar --}}
              <div class="search-bar-wrapper center">
                <div id="search-bar-box">
                  <div class="sbar-input-wrapper">
                    <form action="GET">
                      <input type="text" id="searchBar" placeholder="enter your bag's name here">
                    </form>
                  </div>
                  <div class="search-icon center">
                    <img src="/static/images/searchIcon.svg" alt="search icon">
                  </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" id="search-close" ><path d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"/></svg>
              </div>  
            </div>

            
          </section>
          {{/if}}


          <section id="content-section">
            {{{body}}}
          </section>

          {{#if showBot}}
        
          {{!-- DIM when 'ADD' button is clicked --}}
          <div class="dim-page"></div>

  
            <div class="option-lst">
              {{#if showAddBtn}}
              {{!-- Additional options on Add button: HOME view --}}
                <div class="option-row" id="home-add-op">
                  <div class="btn-name">
                      <div class="option-name">Add a bag</div>
                      <div class="option-name">Create a packing group</div>
                      <div class="option-name">Join a packing group</div>
                  </div>
                  <div class="btn-list">
                      <div class="bot-sec-option-btn center" onclick="addBagRedirect()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M120-80q-33 0-56.5-23.5T40-160v-440h80v440h680v80H120Zm160-160q-33 0-56.5-23.5T200-320v-440h200v-80q0-33 23.5-56.5T480-920h160q33 0 56.5 23.5T720-840v80h200v440q0 33-23.5 56.5T840-240H280Zm200-520h160v-80H480v80Z"/></svg></a></div>
                      <div class="bot-sec-option-btn center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-720h80v-80h-80v80Zm40 240q-76 0-145-31.5T200-582v-58q0-33 23.5-56.5T280-720h80v-120q0-17 11.5-28.5T400-880h160q17 0 28.5 11.5T600-840v120h80q33 0 56.5 23.5T760-640v58q-66 39-135 70.5T480-480ZM280-80v-40q-33 0-56.5-23.5T200-200v-292q56 34 115.5 58T440-402v42h80v-42q65-8 124.5-32T760-492v292q0 33-23.5 56.5T680-120v40h-80v-40H360v40h-80Z"/></svg></a></div>
                      <div class="bot-sec-option-btn center"></a></div> 
                  </div>
                </div>

              {{!-- Additional options on Add button: Bag view --}}
                <div class="option-row" id="bag-add-op">
                  <div class="btn-name">
                      <div class="option-name">Add Items</div>
                  </div>
                  <div class="btn-list">
                      <div class="bot-sec-option-btn" id="add-item-link" onclick="addItemLinkRedirect()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M120-80q-33 0-56.5-23.5T40-160v-440h80v440h680v80H120Zm160-160q-33 0-56.5-23.5T200-320v-440h200v-80q0-33 23.5-56.5T480-920h160q33 0 56.5 23.5T720-840v80h200v440q0 33-23.5 56.5T840-240H280Zm200-520h160v-80H480v80Z"/></svg></div>
                  </div>
                </div>

                
                {{!-- Main ADD button --}}
                <div class="option-row" id="add-circle-hide" onclick="addButtonToggle()">
                  <div class="btn-name"></div>
                  <div class="btn-list">
                      <div class="bot-sec-option-btn" id="add-main-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></div>
                  </div>
                </div>
                {{/if}}
              </div>

        {{!-- BOT SECTION: Add button hovered --}}
          
          {{/if}}

       

        </div>
      </div>
    </body>
</html>